<div class="center-content">
    <form (ngSubmit)="onexercise()">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Exercise Add</mat-card-title>
        <mat-card-subtitle>Medicine Reminder</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Exercise">
            <mat-form-field class="example-full-width">
              <mat-label>Exercise Name</mat-label>
              <input type="text" matInput placeholder="" value="" name="exercisename" [(ngModel)]="exercise.exercisename">
              <!-- <input matInput placeholder="" value=""> -->
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Date</mat-label>
              <input type="text" matInput placeholder="" value="" name="date" [(ngModel)]="exercise.date">
              <!-- <input matInput placeholder="" value=""> -->
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
                <mat-label>Time</mat-label>
                <input type="text" matInput placeholder="" value="" name="exercisetime" [(ngModel)]="exercise.exercisetime">
                <!-- <input matInput placeholder="" value=""> -->
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
  
            <button class="mat-button" mat-raised-button color="primary">Add</button>
            <!-- <button mat-flat-button color="primary">Register</button> -->
  
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </form>
    
  </div>
  