<!-- <div class="center-content">
    <form (ngSubmit)="onexercise()">
    <mat-card class="example-card">
      <mat-card-header class="center-header">
        <mat-card-title>Add Exercise</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="form-row">
          <div class="form-column">
            <mat-form-field class="example-full-width">
              <mat-label>Exercise Name</mat-label>
              <input type="text" matInput placeholder="" value="" name="exercisename" [(ngModel)]="exercise.exercisename">
           
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input type="text" matInput [matDatepicker]="picker" placeholder="" value="" name="date" [(ngModel)]="exercise.date">
                 <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
                <mat-label>Time</mat-label>
                <input type="time" matInput placeholder="" value="" name="exercisetime" [(ngModel)]="exercise.exercisetime">
               
                <mat-icon matSuffix>access_time</mat-icon>
              </mat-form-field>
              </div>
              </div>
            <button class="mat-button" mat-raised-button color="primary">Add</button>
          
  
       
      </mat-card-content>
    </mat-card>
  </form>
    
  </div>
   -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      
 <div class="container_1" id="blur">
  <form class="login-form" id="exercise"  (ngSubmit)="onexercise()">
    <div class="heading-container_1">
      <h2>Exercise</h2>

    </div>
    <div class="group login-input">
      <input type="text" required id="exercisename" name="exercisename" [(ngModel)]="exercise.exercisename">
      <span>Exercise Name</span>
      <i class="fa fa-user"></i>
    </div>
    <div class="group login-input">
      <input type="text" required id="date" name="date" [(ngModel)]="exercise.date">
      <span>Date</span>
      <i class="fa fa-calendar"></i>
    </div>
    <div class="group login-input">
      <input type="text" required id="exercisetime" name="exercisetime" [(ngModel)]="exercise.exercisetime">
      <span>Time</span>
      <i class="fa fa-clock-o"></i>
    </div>

    <div class="group">
      <button class="btn" type="submit" id="add_exercise" name="add_exercise">Add Exercise</button>
    </div>
  </form>
</div>
<div class="popup" id="popup">
  <h2>Thank You!</h2>
  <p>Your exercise has been successfully added.</p>
 <button type="button" onclick="closepopup()">OK</button>
</div>

    </section>

  </main>
