.example-card {
  max-width: 400px;
  margin-top: 60px;
  margin-bottom: 20px;
  /* margin-right: 100%; */
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* background-image: url('/src/assets/img/photo-157.jpg'); */
  background-size: cover;
  text-align: center;
  padding-right: 700px;
  background-image: url(https://images.zapnito.com/users/81523/posters/1651502776-62-6741/b828b791-7b82-44a3-bbd3-63d469c56709_large.jpeg);
}

.example-full-width {
  width: 100%;
  margin-top: 10px;

}

.mat-button {
  width: 100%;
  margin-top: 10px;
}

.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #3f51b5;
  padding-bottom: 10px;
}