
   <div class="center-content">
  <form (ngSubmit)="onmedicine()">
    <mat-card class="example-card">
      <mat-card-header class="center-header">
        <mat-card-title>Add Medicine</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <table class="table">
          <tr>
            <td>
            <mat-form-field class="example-full-width">
              <mat-label>Medicine Name</mat-label>
              <input type="text" matInput placeholder="" value="" name="name" [(ngModel)]="medicine.name">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            </td>
            <td>
            <mat-form-field class="example-full-width">
              <mat-label>Shape</mat-label>
              <input type="text" matInput placeholder="" value="" name="shape" [(ngModel)]="medicine.shape">
              <mat-icon matSuffix>change_history</mat-icon>
            </mat-form-field>
          </td>
          </tr>
          <tr>
            <td>
            <mat-form-field class="example-full-width">
              <mat-label>Dose</mat-label>
              <input type="text" matInput placeholder="" value="" name="dose" [(ngModel)]="medicine.dose">
              <mat-icon matSuffix>medical_services</mat-icon>
            </mat-form-field>
         </td>
         <td>
  
          
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input type="text" matInput [matDatepicker]="picker" pattern="\d{2}/\d{2}/\d{4}" placeholder="" value="" name="date" [(ngModel)]="medicine.date">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
             -->

             <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="medicine.date" (ngModelChange)="medicine.date = formatDate($event)">
              <!-- <mat-hint>YYYY-MM-DD</mat-hint> -->
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </td>
            </tr>
            <tr>
              <td>
            
            
         
            <mat-form-field class="example-full-width">
              <mat-label>Time</mat-label>
              <input type="time" matInput placeholder="" value="" name="timing" [(ngModel)]="medicine.timing">
              <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>
            </td>
            <td>
  
            <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input type="text" matInput placeholder="" value="" name="description" [(ngModel)]="medicine.description">
              <mat-icon matSuffix>more_edit</mat-icon>
            </mat-form-field>
         </td>
            </tr>
            <tr>
              <td colspan="2">
  
        <button class="mat-button" mat-raised-button color="primary">Add</button>
        </td>
        </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </form>
</div>
