<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">

          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4"><b>Add Medicine</b></h1>
                </div>
                <form (ngSubmit)="onMedicine()" #medicineForm="ngForm" class="user">

                  <div class="row mb-3">
                    <div class="form-group col-md-6">
                      <label>Medicine Name</label>
                      <input type="text" name="name" class="form-control form-control-user"
                        placeholder="Enter Medicine Name" [(ngModel)]="medicine.name" list="optionList"
                        autocomplete="off" required />
                    </div>

                    <!-- <input type="text" name="option" list="optionList" autocomplete="off" /> -->
                    <datalist id="optionList">
                      <option value="Abiraterone"></option>
                      <option value="Apixaban"></option>
                      <option value="Bactrim"></option>
                      <option value="Breo Ellipta"></option>
                      <option value="Candesartan"></option>
                      <option value="Clonidine"></option>
                      <option value="Denosumab"></option>
                      <option value="Donepezil"></option>
                      <option value="Effexor XR"></option>
                      <option value="Evenity"></option>
                      <option value="Fentanyl"></option>
                      <option value="Folic Acid"></option>
                      <option value="GaviLyte G"></option>
                      <option value="Hydroquinone"></option>
                      <option value="Hydromorphone"></option>
                      <option value="Imatinib"></option>
                      <option value="Irbesartan"></option>
                      <option value="Junel Fe 24"></option>
                      <option value="Jencycla"></option>
                      <option value="Kineret"></option>
                      <option value="Kenalog"></option>
                      <option value="Lofexidine"></option>
                      <option value="Leuprolide"></option>
                      <option value="Minoxidil"></option>
                      <option value="Mavyret"></option>
                      <option value="Nitrofurantoin"></option>
                      <option value="Naprosyn"></option>
                      <option value="Osilodrostat"></option>
                      <option value="Ofev"></option>
                      <option value="Probuphine"></option>
                      <option value="Pepcid"></option>
                      <option value="Quviviq"></option>
                      <option value="Qtern"></option>
                      <option value="Rinvoq"></option>
                      <option value="Ranitidine"></option>
                      <option value="Scopolamine"></option>
                      <option value="Sotalol"></option>
                      <option value="Tazarotene"></option>
                      <option value="Tremfya"></option>
                      <option value="Udenyca"></option>
                      <option value="Urso"></option>
                      <option value="Vitamin B1"></option>
                      <option value="Vilazodone"></option>
                      <option value="Vitamin D3"></option>
                      <option value="Welchol"></option>
                      <option value="Wormwood"></option>
                      <option value="Xanax XR"></option>
                      <option value="Xofigo"></option>
                      <option value="Yescarta"></option>
                      <option value="Yupelri"></option>
                      <option value="Zarxio"></option>
                      <option value="Zosyn"></option>
                      <option value="8-Mop"></option>
                      <option value="5-hydroxytryptophan"></option>
                      <option value="12 Hour Nasal"></option>
                    </datalist>

                    <div class="form-group col-md-6">
                      <label>Shape</label>
                      <select name="shape" [(ngModel)]="medicine.shape" class="custom-select-class" required>
                        <option value="">Select</option>
                        <option value="Pill">Pill</option>
                        <option value="Injection">Injection</option>
                        <option value="Solution(liquid)">Solution(liquid)</option>
                        <option value="Drops">Drops</option>
                        <option value="Inhaler">Inhaler</option>
                        <option value="Powder">Powder</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <td style="text-align:center;">No.</td>
                            <td style="text-align:center;">Time</td>
                            <td style="text-align:center;">Dose</td>
                            <td style="text-align:center;">Action</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medicine of medicines; let i = index">
                            <td style="text-align:center; margin-top: 10px;">{{ i + 1 }}.</td>
                            <td style="justify-content:center; width:27%;">
                              <input type="time" name="timing{{i}}" class="form-control form-control-user"
                                placeholder="Enter Time" [(ngModel)]="timingsArray[i]" required />
                            </td>
                            <td style="text-align:center; width:30%;">
                              <input type="number" name="dose{{i}}" class="form-control form-control-user"
                                placeholder="Enter Dose" [(ngModel)]="doseArray[i]" step="0.5" max="10" min="0.5"
                                required />
                            </td>
                            <td *ngIf="i !== 0" style="text-align:center; width:30%;">
                              <button type="button" class="btn btn-danger mt-2" (click)="removeMedicine(i)">
                                <i class="fa fa-minus"></i> Remove
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th colspan="3"></th>
                            <th style="text-align:center; width:30%;">
                              <button type="button" class="btn btn-primary" (click)="addMedicine()">
                                <i class="fa fa-plus"></i> Add More
                              </button>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="frequency">Frequency:</label>
                      <select id="frequency" [(ngModel)]="selectedFrequency" name="frequency"
                        class="custom-select-class">
                        <option *ngFor="let option of frequencyOptions" [value]="option">{{ option }}</option>
                      </select>
                    </div>

                    <div *ngIf="selectedFrequency === 'Everyday'" class="form-group col-md-6">
                      <label for="everyday">Everyday:</label>
                      <select id="everyday" name="everyday" [(ngModel)]="medicine.frequency" multiple
                        class="custom-select-class">
                        <option *ngFor="let option of everydayOptions" selected [value]="option">{{ option }}</option>
                        <!-- <option value="Everyday" selected >Everyday</option> -->
                      </select>
                      <!-- <input type="text" value="Everyday" name="everyday"  id="everyday" [(ngModel)]="medicine.frequency"> -->
                    </div>

                    <div *ngIf="selectedFrequency === 'Every X day'" class="form-group col-md-6">
                      <label for="interval">Every X day:</label>
                      <select id="interval" name="interval" [(ngModel)]="medicine.frequency" multiple
                        class="custom-select-class">
                        <option *ngFor="let option of intervalOptions" [value]="option">{{ option }}</option>
                      </select>
                    </div>

                    <div *ngIf="selectedFrequency === 'Every X day of week'" class="form-group col-md-6">
                      <label for="daysOfWeek">Every X day of week:</label>
                      <select id="daysOfWeek" name="daysOfWeek" multiple [(ngModel)]="medicine.frequency"
                        class="custom-select-class">
                        <option *ngFor="let option of weekOptions" [value]="option">{{ option }}</option>
                      </select>
                    </div>

                    <div *ngIf="selectedFrequency === 'Every X day of month'" class="form-group col-md-6">
                      <label for="daysOfmonth">Every X day of month:</label>
                      <select id="daysOfmonth" name="daysOfmonth" multiple [(ngModel)]="medicine.frequency"
                        class="custom-select-class">
                        <option *ngFor="let option of monthOptions" [value]="option">{{ option }}</option>
                      </select>
                    </div>

                  </div>

                  <div class="row mb-3">
                    <div class="form-group col-md-6">
                      <label>Start Date</label>
                      <input type="date" name="fromDate" class="form-control form-control-user" placeholder="Select"
                        [(ngModel)]="medicine.fromDate" required [min]="minDate()" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="medicine.fromDate">
                      <label>End Date</label>
                      <input type="date" name="toDate" class="form-control form-control-user" placeholder="Select"
                        [(ngModel)]="medicine.toDate" required [min]="calculateMinEndDate()" required />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="form-group col-md-12">
                      <label>Description</label>
                      <input type="text" name="description" class="form-control form-control-user"
                        placeholder="Enter Message.." [(ngModel)]="medicine.description" required />
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary btn-user btn-block"
                    [disabled]="!medicineForm.valid">Save</button>
                  <!-- <button type="submit" class="btn btn-primary btn-user btn-block">Save</button> -->
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>