
<mat-toolbar color="primary" class="mat-elevation-z6">
    
    <button mat-button routerLink="/home">Home</button>

<button mat-button [matMenuTriggerFor]="medicine">Medicine</button>
<mat-menu #medicine="matMenu">
  <button mat-menu-item routerLink="/medicine-add">Add Medicine</button>
  <button mat-menu-item routerLink="/medicine-history">Medicine History</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="exercise">Exercise</button>
<mat-menu #exercise="matMenu">
  <button mat-menu-item routerLink="/exercise-add">Add Exercise</button>
  <button mat-menu-item routerLink="/exercise-history">Exercise History</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="food">Food</button>
<mat-menu #food="matMenu">
  <button mat-menu-item routerLink="/food-add">Add Food</button>
  <button mat-menu-item routerLink="/food-history">Food History</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="appointment">Appointment</button>
<mat-menu #appointment="matMenu">
  <button mat-menu-item  routerLink="/appointment-add">Add Appointment</button>
  <button mat-menu-item  routerLink="/appointment-history">Appointment History</button>
</mat-menu>
<div class="spacer"></div>
<span routerLink="/home"><mat-icon>eco</mat-icon>Medicine Reminder</span>
<div class="spacer_1"></div>

<button mat-raised-button color="warn" class="m-1" routerLink="/profile">Profile</button>

<button mat-raised-button color="accent" class="m-1" routerLink="/register">Sign Up</button>

<button mat-raised-button color="warn" class="btn btn-outline-danger m-1" routerLink="/login">Log In</button>



</mat-toolbar>
