<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<p>
  <mat-toolbar class="mb-3 rounded">
    <span>Exercise History</span>
  </mat-toolbar>
</p>
<div style="
float: right;
margin: 0px 0px 20px 0px;
">
   
   <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text" (keyup)="applyFilter($event)" class="form-control form-control-sm bg-light border-0"
        placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" #input>
      <div class="input-group-append">
        <button class="btn btn-primary btn-sm" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
  
<!-- <ul class="navbar-nav ml-auto">

  <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right p-0 shadow show" style="position: absolute;">
          <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                  <input type="text" (keyup)="applyFilter($event)" class="form-control bg-light border-0 small"
                      placeholder="Search for..." aria-label="Search"
                      aria-describedby="basic-addon2">
              </div>
          </form>
      </div>
  </li>
</ul>  -->
</div>
<div class="table-responsive rounded">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
  </ng-container>
  

  <ng-container matColumnDef="exercisename">
    <th mat-header-cell *matHeaderCellDef> Exercise Name </th>
    <td mat-cell *matCellDef="let element"> {{element.exercisename}} </td>
  </ng-container>

 

  <!-- <ng-container matColumnDef="exercisetime">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{ element.exercisetime}}</td>
  </ng-container>

  <ng-container matColumnDef="frequency">
    <th mat-header-cell *matHeaderCellDef> Frequency </th>
    <td mat-cell *matCellDef="let element"> {{ element.frequency}}</td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef> View More</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" data-toggle="modal" data-target="#exampleModal">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef> View More</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="showExerciseDetails(element)" data-toggle="modal" data-target="#exampleModal">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" [routerLink]="['/exercise-update']" [queryParams]="{ id: element.id }" >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete"
        (click)="deleteExercise(element.id)" class="iconbutton" color="warn">
        <mat-icon>delete</mat-icon>
      </button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
</div>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exercise Detailes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Name : {{element.exercisename}}</p>
        <p>Time : {{element.exercisetime}}</p>
        <p>Frequency : {{element.frequency}}</p>
      </div>
    </div>
  </div>
</div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exercise Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Use the selectedExercise property to display the data in the modal -->
        <p>Name: {{ selectedExercise?.exercisename }}</p>
        <p>Time: {{ selectedExercise?.exercisetime }}</p>
        <p>Frequency: {{ selectedExercise?.frequency }}</p>
      </div>
    </div>
  </div>
</div>