<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-medicine-detailes-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"><b>Medicine</b></h1>
                                </div>
                                <form #medicineForm="ngForm" class="user">
                                    <div class="row mb-3">
                                        <div class="form-group col-md-6">
                                            <label><b>Medicine Name</b></label>
                                            <p>{{profileDetails1?.name}}</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><b>Shape</b></label>
                                            <p>{{profileDetails1?.shape}}</p>
                                        </div>
                                    </div>
                                   
                                    <!-- <div class="row">
                                        <div class="form-group col-md-1">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of timedata; let i = index">
                                                        <td>{{ i+1 }}.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Time Data</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of timedata; let i = index">
                                                        <td>{{ item }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Dose Data</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of dosedata; let i = index">
                                                        <td>{{ item }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> -->

                                    <div class="row table-responsive rounded">
                                        <div class="form-group col-md-12">
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th>No.</th>
                                                <th  style="text-align:center;">Time</th>
                                                <th  style="text-align:center;">Dose</th>
                                                <!-- <td  style="text-align:center;">Action</td> -->
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let item of timedata; let i = index">
                                                <td>{{ i + 1 }}.</td>
                                                <td  style="text-align:center;">
                                                    {{timedata[i]}}
                                                  <!-- <input type="time" class="form-control form-control-user" [(ngModel)]="timedata[i]" name="time{{ i }}" /> -->
                                                </td>
                                                <td  style="text-align:center; width:30%;">
                                                    {{dosedata[i]}}
                                                  <!-- <input type="number" class="form-control form-control-user" step="0.5" max="10" min="0.5" [(ngModel)]="dosedata[i]" name="dose{{ i }}" placeholder="Enter Dose" /> -->
                                                </td>
                                                
                                              </tr>
                                              
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>





                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="frequency"><b>Frequency</b></label>
                                            <p>{{profileDetails1?.frequency}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-md-6">
                                            <label><b>Start Date</b></label>
                                            <p>{{ formatfromDate(profileDetails1?.fromDate)}}</p>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><b>End Date</b></label>
                                            <p>{{ formattoDate(profileDetails1?.toDate)}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-md-12">
                                            <label> <b>Description</b></label>
                                            <p>{{profileDetails1?.description}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col-md-6">
                                            <button class="btn btn-primary btn-user btn-block"
                                                routerLink="/medicine-update"
                                                [queryParams]="{ id: profileDetails1?.id }"> <i
                                                    class="fas fa-pen-nib"></i> Update</button>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <button class="btn btn-danger btn-user btn-block"
                                                routerLink="/medicine-history"> <i class="fas fa-reply"></i>
                                                Back</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>