<!-- 
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{ userData?.firstname }} </h4>
                <p class="text-secondary mb-1">Frontend Developer</p>
                <p class="text-muted font-size-sm">{{ userData?.emailid }}</p>
                <button class="btn btn-outline-primary m-1">Upload Image</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Full Name</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userData?.firstname }} {{ userData?.lastname }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Email</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userData?.emailid }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
         -->
    <div class="container">
      <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img [src]="imageUrl" (error)="setDefaultImage()" alt="User Photo" class="rounded-circle" width="150">
                  <!-- <img [src]="imageUrl" alt="User Photo"> -->
                  <div class="mt-3">
                    <h4>{{ userData?.firstname }} </h4>
                    <!-- <p class="text-secondary mb-1">Frontend Developer</p> -->
                    <p class="text-muted font-size-sm">{{ userData?.emailid }}</p>
                    <!-- <input type="file" (change)="uploadPhoto($event)"> -->

                    <button class="btn btn-outline-primary m-1" (click)="openUploadPopup()">Upload Image</button>
                    <button class="btn btn-outline-danger m-1" (click)="deleteProfile()">Delete Profile</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Full Name</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ userData?.firstname }} {{ userData?.lastname }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h4 class="mb-0">Email</h4>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ userData?.emailid }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-outline-primary m-1" (click)="openUpDatePopUp()">Edit</button>
                    <button class="btn btn-outline-danger m-1" (click)="openLogoutConfirmation()">Log Out</button>
                  
                    <!-- <a class="btn btn-info" (click)="openUpDatePopUp()">Edit</a>
                    <a class="btn btn-info" (click)="">Log Out</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            