<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-doctor-profile">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Doctor Profile</h1>
                                </div>
                                <form class="user" (ngSubmit)="onDoctorProfile()" #doctorProfileForm="ngForm">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Name</label>
                                            <input type="text" class="form-control form-control-user" id="name"
                                                name="name" placeholder="Name" [(ngModel)]="doctorProfile.name">
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Email Id</label>
                                            <input type="text" class="form-control form-control-user" name="emailid"
                                                placeholder="Email id" [(ngModel)]="doctorProfile.emailid">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Mobile number</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Mobile number" name="mobileNumber" [(ngModel)]="doctorProfile.mobileNumber">
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Specialization</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Specialization" list="speciality" autocomplete="off" name="specilization" [(ngModel)]="doctorProfile.specilization">
                                                <datalist id="speciality">
                                                    <option value="General Medicine">General Medicine (Internal Medicine)</option>
                                                    <option value="Pediatrics">Pediatrics</option>
                                                    <option value="Obstetrics and Gynecology">Obstetrics and Gynecology (OB/GYN)</option>
                                                    <option value="Surgery">Surgery</option>
                                                    <option value="Orthopedics">Orthopedics</option>
                                                    <option value="Cardiology">Cardiology</option>
                                                    <option value="Neurology">Neurology</option>
                                                    <option value="Dermatology">Dermatology</option>
                                                    <option value="Psychiatry">Psychiatry</option>
                                                    <option value="Radiology">Radiology</option>
                                                    <option value="Oncology">Oncology</option>
                                                    <option value="Ophthalmology">Ophthalmology</option>
                                                    <option value="ENT">ENT (Ear, Nose, and Throat)</option>
                                                    <option value="Urology">Urology</option>
                                                    <option value="Nephrology">Nephrology</option>
                                                    <option value="Gastroenterology">Gastroenterology</option>
                                                    <option value="Pulmonology">Pulmonology</option>
                                                    <option value="Endocrinology">Endocrinology</option>
                                                    <option value="Rheumatology">Rheumatology</option>
                                                    <option value="Hematology">Hematology</option>
                                                    <option value="Allergy and Immunology">Allergy and Immunology</option>
                                                    <option value="Infectious Diseases">Infectious Diseases</option>
                                                    <option value="Family Medicine">Family Medicine</option>
                                                    <option value="Emergency Medicine">Emergency Medicine</option>
                                                    <option value="Anesthesiology">Anesthesiology</option>
                                                    <option value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation
                                                    </option>
                                                    <option value="Neonatology">Neonatology</option>
                                                    <option value="Geriatrics">Geriatrics</option>
                                                    <option value="Sports Medicine">Sports Medicine</option>
                                                    <option value="Palliative Care">Palliative Care</option>
                                                  </datalist>
                                        </div>
                                    </div>  
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Experience</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Experience" name="experiance" [(ngModel)]="doctorProfile.experiance">
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Qualification</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Qualification" name="qualification" [(ngModel)]="doctorProfile.qualification">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Appointment Fees</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Appointment Fees" name="appointmentFees" [(ngModel)]="doctorProfile.appointmentFees">
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Address / Location</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Address / Location" name="address" [(ngModel)]="doctorProfile.address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Registration date</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Registration date" name="registrationDate" [(ngModel)]="doctorProfile.registrationDate">
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Hospital / Clinic name</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Hospital / Clinic name" name="hospital" [(ngModel)]="doctorProfile.hospital">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label>Start time</label>
                                            <input type="time" class="form-control form-control-user"
                                                placeholder="Start time" name="availableTime">
                                        </div>
                                        <div class="col-sm-6">
                                            <label>End time</label>
                                            <input type="time" class="form-control form-control-user"
                                                placeholder="End time" name="availableTime">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label>Appointment Number</label>
                                            <input type="text" class="form-control form-control-user"
                                                placeholder="Add appointment Number per day" name="appointmentNumberPerDay" [(ngModel)]="doctorProfile.appointmentNumberPerDay">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Save
                                    </button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>