<!-- <div class="content"  *ngIf="authService.getIsLoggedIn()">
    <div id='calendar'></div>
  </div> -->

  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000" *ngIf="authService.getIsLoggedIn()">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/img14.jpeg" height="300" width="1000" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/img-12.jpg" height="300" width="1000" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/img-13.jpg" height="300" width="1000" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
  </div>
   -->
   <!-- <div class="row" *ngFor="let element of dataSource.data">
    <div class="card m-2" style="width: 18rem;" *ngFor="let element">
      <div class="card-body">
        <h5 class="card-title">{{ element.exercisename }}</h5>
        <p class="card-text">Time: {{ formatTime(element.exercisetime) }}</p>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
   -->
  
   <!-- <div class="card-container">
    <div *ngFor="let element of dataSource.data" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ element.exercisename }}</h5>
        <p class="card-text">Exercise Time: {{ formatTime(element.exercisetime) }}</p>
        <button class="btn btn-primary" (click)="editExercise(element.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteExercise(element.id)">Delete</button>
      </div>
    </div>
  </div> -->

  <!-- <div class="container m-4" *ngIf="dataSource1.data.length > 0">
    <h2>Exercise History</h2>
  
    <div class="row">
      <div class="col-sm-4" *ngFor="let element of dataSource1.data">
        <div class="card m-2">
          <div class="card-body" (click)="exercise()">
            <h5 class="card-title">{{ element.exercisename }}</h5>
            <p class="card-text">Time: {{ formatTime(element.exercisetime) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- 
  <div class="container m-4" *ngIf="dataSource2.data.length > 0">
    <h2>Appointment History</h2>
  
    <div class="row">
      <div class="col-sm-4" *ngFor="let element of dataSource2.data">
        <div class="card m-2">
          <div class="card-body" (click)="appointment()">
            <h5 class="card-title">{{element.withWhome}}</h5>
            <p class="card-text">Time: {{ formatTime(element.time) }} </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  

  <div class="container" *ngIf="dataSource2.data.length > 0">
    <h3>Appointment</h3>
    <ul class="cards">
        <li class="card" *ngFor="let element of dataSource2.data">
            <div>
                <h3 class="card-title">{{element.withWhome}}</h3>
                <div class="card-content">
                    <p>Time: {{ formatTime(element.time) }}</p>
                    <p>Date: {{formatDate(element.appointmentdate)}}</p>
                </div>
            </div>
            <div class="card-link-wrapper">
                <a routerLink="/appointment-history" class="card-link">View More</a>
            </div>
        </li>        
    </ul>
</div>

<div class="container" *ngIf="dataSource1.data.length > 0">
  <h3>Exercise</h3>
  <ul class="cards">
      <li class="card" *ngFor="let element of dataSource1.data">
          <div>
              <h3 class="card-title">{{element.exercisename}}</h3>
              <div class="card-content">
                  <p>Time: {{ formatTime(element.exercisetime) }}</p>
              </div>
          </div>
          <div class="card-link-wrapper">
              <a routerLink="/exercise-history" class="card-link">View More</a>
          </div>
      </li>        
  </ul>
</div>

