<!-- <div class="row">
    <div class="col-md-6">
        <mat-calendar></mat-calendar>
    </div>
    <div class="col-md-6">
        dolorum temporibus eos repudiandae quasi vitae! Blanditiis nesciunt vero voluptas optio laboriosam rerum nemo
        accusantium, officiis harum soluta ipsam, tenetur quod laudantium corrupti deserunt quidem, modi ab assumenda
        nihil numquam fugiat a facere? Ab beatae repudiandae assumenda consequuntur laudantium accusantium odio officia
        consectetur, praesentium obcaecati. Ratione, quos id? Reiciendis voluptatem, unde aperiam at, distinctio
        inventore dolore accusamus, explicabo perspiciatis suscipit quas atque illo culpa voluptatibus vero nihil dicta
        vel tempora molestias adipisci earum voluptas necessitatibus. Ex eum aliquid porro. Laboriosam nihil, totam
        possimus nemo facere minus veritatis et? Nulla iste non ut velit aliquam minima libero amet? Reprehenderit,
        eligendi soluta quaerat porro quasi eveniet dignissimos repellendus nemo magni error ratione, expedita officia
        alias ducimus accusantium assumenda perferendis vel iste voluptates velit excepturi repellat, laudantium harum
        inventore? Illum cum aliquam quis quisquam dicta doloremque labore suscipit, quos fuga perferendis expedita
        culpa, voluptate adipisci pariatur aut fugit dolorum rerum enim aperiam odit quod debitis ea. Ipsa similique
        aliquid, aut architecto amet tempore fugiat vitae, velit adipisci, possimus quidem nulla nostrum soluta. Aliquid
        eos aspernatur rerum ullam reiciendis.
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-md-6">
      <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    </div>
    <div class="col-md-6">
      <p *ngIf="selectedDate">Date: {{ selectedDate | date:'longDate' }}</p>
    </div>
  </div> -->

  
  