<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user" (ngSubmit)="onRegister()" #registerForm="ngForm">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="firstname" name="firstname"
                    [(ngModel)]="register.firstname" placeholder="First Name" required #firstname="ngModel"
                    [ngClass]="{'is-invalid': firstname.invalid && (firstname.touched || firstname.dirty), 'is-valid': firstname.valid && (firstname.touched || firstname.dirty)}">
                  <div *ngIf="firstname.invalid && firstname.touched" class="text-danger small mt-2">
                    <div *ngIf="firstname.errors && firstname.errors['required']">
                      First Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="lastname" name="lastname"
                    [(ngModel)]="register.lastname" placeholder="Last Name" required #lastname="ngModel"
                    [ngClass]="{'is-invalid': lastname.invalid && (lastname.touched || lastname.dirty), 'is-valid': lastname.valid && (lastname.touched || lastname.dirty)}">
                  <div *ngIf="lastname.invalid && lastname.touched" class="text-danger small mt-2">
                    <div *ngIf="lastname.errors && lastname.errors['required']">
                      Last Name is required.
                    </div>
                    <div *ngIf="lastname.errors && lastname.errors['pattern']">
                      Last Name should start with an uppercase letter.
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="form-group"> -->
                <input type="text" class="form-control form-control-user" id="emailid" name="emailid"
                  [(ngModel)]="register.emailid" placeholder="Email Address" required style="display: none;"
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" #emailid="ngModel">
                <!-- <div *ngIf="registerForm.controls['emailid'].invalid && (registerForm.controls['emailid'].touched || registerForm.controls['emailid'].dirty)"
                  class="text-danger small mt-2" style="color: red;">
                  <ng-container *ngIf="registerForm.controls['emailid'].errors?.['required']">Email is required.</ng-container>
                  <ng-container *ngIf="registerForm.controls['emailid'].errors?.['email']">Invalid email address.</ng-container>
                  <ng-container *ngIf="registerForm.controls['emailid'].errors?.['pattern']">Invalid email format.</ng-container>
                </div>
              </div> -->

              <div class="form-group">
                <input type="text" class="form-control form-control-user" id="emailid" name="emailid"
                  [(ngModel)]="register.emailid" placeholder="Email Address" required
                  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" #emailid="ngModel"
                  [ngClass]="{'is-invalid': registerForm.controls['emailid'].invalid && (registerForm.controls['emailid'].touched || registerForm.controls['emailid'].dirty), 'is-valid': registerForm.controls['emailid'].valid && (registerForm.controls['emailid'].touched || registerForm.controls['emailid'].dirty)}">
                <div *ngIf="registerForm.controls['emailid'].invalid && (registerForm.controls['emailid'].touched || registerForm.controls['emailid'].dirty)"
                  class="text-danger small mt-2" style="color: red;">
                  <ng-container *ngIf="registerForm.controls['emailid'].errors?.['required']">Email is required.</ng-container>
                  <ng-container *ngIf="registerForm.controls['emailid'].errors?.['email']">Invalid email address.</ng-container>
                  <ng-container *ngIf="registerForm.controls['emailid'].errors?.['pattern']">Invalid email format.</ng-container>
                </div>
              </div>

              <!-- <div class="col-md-4">
                <label for="validationSuccess" class="form-label text-success">Input with success</label>
                <input type="text" class="form-control is-valid" id="validationSuccess" required>
             </div>
             <div class="col-md-4">
                <label for="validationError" class="form-label text-danger">Input with error</label>
                <input type="text" class="form-control is-invalid" id="validationError" required>
             </div> -->
             <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="username" name="username"
                  [(ngModel)]="register.username" placeholder="User Name" required #username="ngModel"
                  [ngClass]="{'is-invalid': username.invalid && (username.touched || username.dirty), 'is-valid': username.valid && (username.touched || username.dirty)}">
                <div *ngIf="username.invalid && username.touched" class="text-danger small mt-2">
                  <div *ngIf="username.errors && username.errors['required']">
                    User Name is required.
                  </div>
                </div>
              </div>
                <div class="col-sm-6">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control form-control-user"
                    id="password" name="password" [(ngModel)]="register.password" placeholder="Password"
                    (blur)="onPasswordTouched()" [ngClass]="{'is-invalid': isPasswordInvalid() && passwordTouched, 'is-valid': !isPasswordInvalid() && passwordTouched}">
                  <div class="custom-control custom-checkbox small ml-2 mt-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck"
                      (change)="togglePasswordVisibility($event)">
                    <label class="custom-control-label" for="customCheck">Show Password</label>
                  </div>
                  <div *ngIf="isPasswordInvalid() && passwordTouched" class="text-danger small mt-2">
                    Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, and
                    one special character.
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" routerLink="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>