<!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<main id="main">

  <section id="breadcrumbs" class="breadcrumbs">
    

 
<div class="container_1" id="blur">
 <form class="login-form" id="register" name="register" (ngSubmit)="onregister()" #registerForm="ngForm">
   <div class="heading-container_1">
     <h2>Register Now</h2>

   </div>
   <table>
    <tr>
      <td>
   <div class="group login-input px-1">
     <input type="text" required id="firstname" name="firstname" [(ngModel)]="register.firstname">
     <span>First Name</span>
    </div>
    </td>
    <td>
  <div class="group login-input px-1">
     <input type="text" required id="lastname" name="lastname" [(ngModel)]="register.lastname">
     <span>Last Name</span>
  </div>
  </td>
  <tr>
    <td>
  <div class="group login-input px-1">
    <input type="email" required id="emailid" name="emailid" [(ngModel)]="register.emailid">
    <span>Email Id</span>
  </div>
  </td>
  <td>
  <div class="group login-input px-1">
     <input type="text" required id="username" name="username" [(ngModel)]="register.username">
     <span>User Name</span>
   </div>
   </td>
   </tr>
   <tr>
    <td colspan="2">
   <div class="group login-input">
     <input type="password" required id="password" name="password" [(ngModel)]="register.password">
     <span>Password</span>
   </div>
   <div class="group showPassword">
    <input type="checkbox" id="showPassword">
      <label for="showPassword">Show password</label>
   </div>
   </td>
   </tr>
   </table>
   
   <div class="group">
     <button class="btn" type="submit" id="register" name="register">Register</button>
     
   </div>
 </form>
</div>
<div class="popup" id="popup">
<h2>Thank You!</h2>
<p>Your details has been successfully registered.</p>
<button type="button" onclick="closepopup()">OK</button>
</div>



  </section>

</main> -->



<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user" (ngSubmit)="onRegister()" #registerForm="ngForm">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="firstname" name="firstname"
                    [(ngModel)]="register.firstname" placeholder="First Name">
                </div>

                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="lastname" name="lastname"
                    [(ngModel)]="register.lastname" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="emailid" name="emailid"
                  [(ngModel)]="register.emailid" placeholder="Email Address">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="username" name="username"
                    [(ngModel)]="register.username" placeholder="User Name">
                </div>



                <div class="col-sm-6">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control form-control-user"
                    id="password" name="password" [(ngModel)]="register.password" placeholder="Password">
                  <div class="custom-control custom-checkbox small ml-2 mt-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck" (change)="togglePasswordVisibility($event)">
                    <label class="custom-control-label" for="customCheck">Show Password</label>
                  </div>
                </div>

                <!-- <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="password" name="password"
                    [(ngModel)]="register.password" placeholder="Password">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Show Password</label>
                      </div>
                </div> -->


              </div>


              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>

            </form>
            <hr>

            <div class="text-center">
              <a class="small" routerLink="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>