<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">




                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"><b>Update Medicine</b></h1>
                                </div>
                                <form class="user" >

                                    <div class="row mb-3">
                                        <div class="form-group col-md-6">
                                            <label>Medicine Name</label>
                                            <input type="text" name="name" class="form-control form-control-user"
                                                placeholder="Enter Medicine Name" [(ngModel)]="medicine.name"
                                                required value="{{medicine.name}}" />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label>Shape</label>
                                            <select name="shape" [(ngModel)]="medicine.shape"
                                                class="custom-select-class" required>
                                                <option value="{{medicine.shape}}" selected>{{medicine.shape}}</option>
                                                <option value="Pill">Pill</option>
                                                <option value="Injection">Injection</option>
                                                <option value="Solution(liquid)">Solution(liquid)</option>
                                                <option value="Drops">Drops</option>
                                                <option value="Inhaler">Inhaler</option>
                                                <option value="Powder">Powder</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>

                                    </div>



                                    <!-- <div class="row">
                                        <div class="col-md-6">
                                            <label>Time</label>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Dose</label>
                                        </div>
                                    </div>


                                    <div class="row" *ngFor="let medicine of medicines; let i = index">
                                        <div class="form-group col-md-6">
                                            <input type="time" name="timing{{i}}" class="form-control form-control-user"
                                                placeholder="Enter Time" [(ngModel)]="timingsArray[i]" required />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <select [(ngModel)]="doseArray[i]" name="dose{{i}}"
                                                class="custom-select-class" required>
                                                <option *ngFor="let doseOption of doseOptions" [value]="doseOption">{{
                                                    doseOption }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-3 offset-md-9" *ngIf="i !== 0">
                                            <button class="btn btn-danger mt-2" (click)="removeMedicine(i)">
                                                <i class="fa fa-minus"></i> Remove
                                            </button>
                                        </div>

                                    </div>



                                    <div class="row justify-content-center">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success addMedicine"
                                                (click)="addMedicine()">
                                                <i class="fa fa-plus"></i> Add More
                                            </button>
                                        </div>
                                    </div> -->
<!-- 
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Time Data</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of timedata; let i = index">
                                                        <td>{{i+1}}.)</td>
                                                        <td> <input type="time" class="form-control form-control-user" value="{{item}}"> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Dose Data</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of dosedata; let i = index">
                                                        <td><input type="number" class="form-control form-control-user" value="{{item}}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> -->



                                    <div class="row">
                                        <div class="form-group col-md-12">
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <td>No.</td>
                                                <td  style="text-align:center;">Time Data</td>
                                                <td  style="text-align:center;">Dose Data</td>
                                                <td  style="text-align:center;">Action</td>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let item of timedata; let i = index">
                                                <td>{{ i + 1 }}.</td>
                                                <td  style="text-align:center;">
                                                  <input type="time" class="form-control form-control-user" [(ngModel)]="timedata[i]" name="time{{ i }}" />
                                                </td>
                                                <td  style="text-align:center; width:30%;">
                                                  <input type="number" class="form-control form-control-user" step="0.5" max="10" min="0.5" [(ngModel)]="dosedata[i]" name="dose{{ i }}" placeholder="Enter Dose" />
                                                </td>
                                                <td  style="text-align:center; width:30%;">
                                                  <button type="button" class="btn btn-danger btn-sm mt-2" (click)="removeData(i)"><i class="fa fa-minus"></i> Remove</button>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th colspan="3"></th>
                                                <th  style="text-align:center; width:30%;">
                                                  <button type="button" class="btn btn-primary btn-sm" (click)="addData()"> <i class="fa fa-plus"></i> Add More</button>
                                                </th>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                      
                                      



                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="frequency">Frequency:</label>
                                            <select id="selectedFrequency" [(ngModel)]="selectedFrequency" name="frequency"
                                                class="custom-select-class">
                                                <!-- <option value="{{medicine.frequency}}" disabled>{{medicine.frequency}}</option> -->
                                                <option *ngFor="let option of frequencyOptions" [value]="option">{{
                                                    option }}</option>
                                            </select>
                                        </div>

                                        <div *ngIf="selectedFrequency === 'Everyday'" class="form-group col-md-6">
                                            <label for="everyday">Everyday:</label>
                                            <select id="everyday" name="everyday" [(ngModel)]="medicine.frequency"
                                                multiple class="custom-select-class">
                                                <option *ngFor="let option of everydayOptions" [value]="option">{{
                                                    option }}</option>
                                            </select>
                                        </div>

                                        <div *ngIf="selectedFrequency === 'Every X day'" class="form-group col-md-6">
                                            <label for="interval">Interval:</label>
                                            <select id="interval" name="interval" [(ngModel)]="medicine.frequency"
                                                multiple class="custom-select-class">
                                                <option *ngFor="let option of intervalOptions" [value]="option">{{
                                                    option }}</option>
                                            </select>
                                        </div>

                                        <div *ngIf="selectedFrequency === 'Every X day of week'"
                                            class="form-group col-md-6">
                                            <label for="daysOfWeek">Days of Week:</label>
                                            <select id="daysOfWeek" name="daysOfWeek" multiple
                                                [(ngModel)]="medicine.frequency" class="custom-select-class">
                                                <option *ngFor="let option of weekOptions" [value]="option">{{ option }}
                                                </option>
                                            </select>
                                        </div>

                                        <div *ngIf="selectedFrequency === 'Every X day of month'"
                                            class="form-group col-md-6">
                                            <label for="daysOfmonth">Days of mounth:</label>
                                            <select id="daysOfmonth" name="daysOfmonth" multiple
                                                [(ngModel)]="medicine.frequency" class="custom-select-class">
                                                <option *ngFor="let option of monthOptions" [value]="option">{{ option
                                                    }}</option>
                                            </select>
                                        </div>

                                        <div *ngIf="selectedFrequency !== ''"
                                            class="form-group col-md-6">
                                            <label>Frequency selected :</label>
                                            <p>{{medicine.frequency}}</p>
                                            
                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <div class="form-group col-md-6">
                                            <label>Start Date</label>
                                            <input type="date" name="fromDate" id="fromDate" class="form-control form-control-user" required
                                                [min]="minDate()"  [(ngModel)]="medicine.fromDate" value="{{ medicine.fromDate }}"/>
                                        </div>  

                                        <div class="form-group col-md-6">
                                            <label>End Date</label>
                                            <input type="date" name="toDate" id="toDate" class="form-control form-control-user" required
                                                [min]="minDate()" [(ngModel)]="medicine.toDate" value="{{ medicine.toDate}}"/>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="form-group col-md-6">
                                    <button class="btn btn-primary btn-user btn-block" (click)="updateMedicineData()"> <i class="fas fa-pen-nib"></i> Update</button>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <button class="btn btn-danger btn-user btn-block" routerLink="/medicine-history"> <i class="fas fa-reply"></i> Cancel</button>
                                        </div>
                                        
                                    </div> 
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>